.thmb-img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.thmb-img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


#small-head-pro-img{
    height: 80px;
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}